<div>
  <h1>My Journal</h1>
  <% Task.grouped_per_day.each do |day, tasks| %>
    <h2><%= day %></h2>
    <div class="flex flex-col gap-2">
      <% tasks.each do |task| %>
        <%= render task, category: task.category %>
      <% end %>
    </div>
  <% end %>
</div>
