<div>
  <h1>My Journal</h1>

  <% Task.group_per_deadline.each do |day, tasks| %>
    <h2><%= day %></h2>
    <div class="flex flex-col gap-2">
      <% tasks.each do |task| %>
        <%= render task, category: @categories.find {|category| category.id == task.category_id} %>
      <% end %>
    </div>
  <% end %>
</div>
